* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 125%;
}

body {
  height: 100vh;
  background-image: url(./images/bg-agenda.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.497);
  border-color: #04eb1c;
  color: white;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;

  display: flex;
  align-items: center;
  gap: 12px;
  transition: ease-in 0.5s;
}

button:hover {
  transform: scale(1.1);
  border-color: white;
  transition-property: transform, border-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 48px;
  background-color: transparent;
  position: fixed;

  width: 100vw;
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;
  background-color: transparent;

  border: 2px solid #04eb1c;
  border-radius: 8px;
  transition: ease-in-out 0.5s;
}

input:hover {
  transform: scale(0.7);
}

input:checked {
  background: #04eb1c;
  border: 2px solid #92c898;
}

#form-habits {
  display: flex;

  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 2.8rem;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  margin-left: 32px;
  gap: 48px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 570px) {
  button {
    display: flex;
    justify-content: center;

    width: 60px;
    height: 60px;
  }

  button span {
    display: none;
  }

  input {
    width: 48px;
    height: 48px;
  }

  .habits {
    margin-top: 3rem;
  }

  .habit img {
    width: 27px;
    height: 28px;
  }

  .day {
    gap: 38.5px;
  }

  header img {
    max-width: 120px;
  }
}